[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
boto3 = "*"
gql = "*"
python-dotenv = "*"
beautifulsoup4 = "*"
selenium = "*"
webdriver-manager = "*"
bs4 = "*"
urllib3 = "*"
geckodriver-autoinstaller = "*"
awscli = "*"
src = {file = "src", editable = true}

[requires]
python_version = "3.12"
